<div class="container px-5 px-sm-0">
  <div class="row">
  <div class="mx-3 col-11 col-sm-10 col-lg-8 col-xl-6">   
    <h5>マイページ</h5> 
  
  <div class="row">
   <h6>登録情報</h6>
   <%= link_to "編集する",edit_customers_path,class:"btn btn-success" %>
  </div>

  <div class="row">
  <table class="table table-bordered">
     <tr>
      <td class="table-secondary">氏名</td>
      <td><%= @customer.full_name %></td>
    </tr>
    
    <tr>
      <td class="table-secondary">カナ</td>
      <td><%= @customer.full_name_kana %></td>
   </tr>
   
   <tr>
      <td class="table-secondary">郵便番号</td>
      <td><%= @customer.postal_code %></td>
   </tr>
   
   <tr>
      <td class="table-secondary">住所</td>
      <td><%= @customer.address %></td>
   </tr>
   
   <tr>
      <td class="table-secondary">電話番号</td>
      <td><%= @customer.phone_number %></td>
   </tr>
    
    <tr>
      <td class="table-secondary">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
</table>
</div>
<div class="row">
  <h6>配送先</h6>
  <%= link_to "一覧を見る",addresses_path,class:"btn btn-primary"%>
</div>

<div class="row">
  <h6>注文履歴</h6>
  <%= link_to "一覧を見る",orders_path,class:"btn btn-primary" %>
</div>

</div>
</div>
