<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-3">商品一覧</h3>

      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td><%= item.id %></td>
            <td nowrap><%= link_to item.name, admin_item_path(item) %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active? %>
                <span class="text-success font-weight-bold">販売中</span>
              <% else %>
                <span class="text-secondary font-weight-bold">販売停止中</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate(@items) %>
    </div>
  </div>
</div>