<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="my-5 under">商品新規登録</h3>
    </div>
    <div class="col-12">
      <%= form_with url:admin_items_path, model:@item, local:true do |f| %>
      <div class="row mb-3">
        <div class="col-3 font-weight-bold"><%= f.label :商品画像 %></div>
        <div class="col-4 mr-auto"><%= f.attachment_field :image %></div>
      </div>

      <div class="row mb-3">
        <div class="col-3 font-weight-bold"><%= f.label :商品名 %></div>
        <div class="col-4 mr-auto"><%= f.text_field :name, placeholder: "商品名" %></div>
      </div>

      <div class="row mb-3">
        <div class="col-3 font-weight-bold"><%= f.label :商品説明 %></div>
        <div class="col-5 mr-auto"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します" ,class:"form-control border-secondary" %></div>
      </div>

      <div class="row mb-3">
        <div class="col-3 font-weight-bold"><%= f.label :ジャンル %></div>
        <div class="col-4 mr-auto"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --"  %></div>
      </div>

      <div class="row mb-3">
        <div class="col-3 font-weight-bold"><%= f.label :税抜価格 %></div>
        <div class="col-4 mr-auto"><%= f.text_field :price, placeholder: "1000" %> 円</div>
      </div>

      <div class="row mb-3">
        <div class="col-3 font-weight-bold"><%= f.label :販売ステータス %></div>
        <div class="col-4 mr-auto">
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, '販売中', value: true %>
          <%= f.radio_button :is_active, false ,class:"ml-3" %>
          <%= f.label :is_active, '販売停止中', value: false %>
        </div>
      </div>

      <div class="offset-3 col-4">
        <%= f.submit "新規登録", class: "btn btn-outline-dark px-4" %>
      </div>
      <% end %>
    </div>

  </div>
</div>

