  <% if @datas.empty? %>
    <div class="container search-margin">
      <div class="row justify-content-center ">
        <h3 class="under" >該当する商品はありません</h3>
      </div>
    </div>  
  <% else %>
    <div class="container mt-5">
      <div class="row">
          <h3><strong >" <%= @value %> " </strong>の検索結果<span class="small"> (全<%= @datas.count %>件)</span></h3>
      </div>    
      <div class="row mt-5">
        <% @datas.each do |data| %>
          <div class="col-3">
            <%= link_to item_path(data.id) do %>
              <%= attachment_image_tag data, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %>
            <% end %>
            <p ><%= link_to data.name, item_path(data.id),class:"text-dark" %></p>
            <p class="mb-5"><%= data.price.to_s(:delimited) %>円</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
 
