<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-5">
    <div class="container">
      <span>
        <%= link_to "ながのCAKE", root_path, class:"navbar-brand fas fa-birthday-cake" %>
      </span>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li>
              <%= link_to "マイページ", customers_my_page_path(current_user), class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
            <li>
              <%= link_to "カート", cart_items_path, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
          <% else %>
            <li>
              <%= link_to "About", about_path, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
            <li>
              <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
            <li>
              <%= link_to "ログイン", new_customer_session_path, class:"btn btn-sm btn-outline-secondary mr-5" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render "genre", genres: @genres %> <!-- ジャンル検索の部分テンプレート -->
  </div>

  <div class="col-md-8 offset-md-1">
    <div class="card" style="">
      <%= image_tag '.jpg' %>
    </div>
  </div>

</div>

