<div class="container ">
 <div class="row">    
<h5>配送先編集</h5>
 </div>  

<%= form_with model:@address,local:true do |f| %>
<div class="row">
<div class="col-lg-3"><%=f.label :郵便番号（ハイフンなし）,class:"form-label"%></div>
<div class="col-lg-6 form-inline" style="padding: 3px;"><%=f.text_field :postal_code,placeholder:"0000000" ,class:"form-control" %></div>
</div>
<div class"row">   </div>
<div class="row">
<div class="col-lg-3"><%=f.label :住所　%></div>
<div class="col-lg-6 form-inline" style="padding: 3px;"><%=f.text_field :address,placeholder:"東京都渋谷区代々木神園待ち0-0" ,class:"form-control"%></div>
</div>
<div class="row">
<div class="col-lg-3"><%=f.label :宛名 %></div>
<div class="col-lg-6 form-inline" style="padding: 3px;"><%=f.text_field :name ,placeholder:"令和道子",class:"form-control"%></div>

<%=f.submit "変更内容を保存" ,class:"btn btn-success" %>
<% end %>
</div>