<div class="container">
  <div>
    <span>ショッピングカート</span>
    <span>
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete,class:"btn btn-danger btn-sm" %>
    </span>
  </div>

  <div>
  　<table class="table">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>合計</th>
      <th></th>
    </tr>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td></td>
      <td></td>
      <td>
      <%= form_with model: cart_item do |f| %>
        <%= f.select :amount, options_for_select((1..20).to_s), include_blank: "個数選択" %>
        <%= f.submit "変更" %>
      <% end %>
      </td>
      <td></td>
      <td>
        <%= link_to "削除する", cart_item_path(cart_item), method: :delete,class:"btn btn-danger btn-sm" %>
      </td>
    </tr>
    <% end %>
  　</table>
  </div>

  <div><span>買い物を続ける</span><span>合計金額</span></div>
  <div><p>入力情報に進む</p></div>
</div>