<div class="container">
  <div>
    <span>ショッピングカート</span>
    <span>
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete,class:"btn btn-danger btn-sm" %>
    </span>
  </div>

  <div>
  　<table class="table">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>合計</th>
      <th></th>
    </tr>

    <!--合計金額を入れる変数sumを定義-->
    <% sum = 0 %>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
      <td>
        <%= form_with model: cart_item, local:true do |f| %>
          <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %>
          <%= f.submit "変更" %>
        <% end %>
      </td>
      <td><%= (cart_item.amount*cart_item.item.price*1.1).round.to_s(:delimited) %></td>
      <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete,class:"btn btn-danger btn-sm" %></td>
    </tr>
    <% sum += cart_item.amount*cart_item.item.price*1.1 %>
    <% end %>
  　</table>
  </div>

  <div>
    <span><%= link_to "買い物を続ける", items_path %></span>
    <table class="table">
      <tr>
        <th>合計金額</th>
        <th><%= sum.round.to_s(:delimited) %></th>
      </tr>
    </table>
  </div>

  <div><p>入力情報に進む</p></div>
</div>