<div class="container">

  <div class="row"><span>注文情報確認</span></div>

  <div class="row">

    <div class="col">
      <table class="table">
        <tr><th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th></tr>
        <tr>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= (cart_item.amount*cart_item.item.price*1.1).round.to_s(:delimited) %></td>
            <% sum += cart_item.amount*cart_item.item.price*1.1 %>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table">
        <tr><th>送料</th><td><%= @orders.shipping_cost.to_s(:delimited) %></td></tr>
        <tr><th>商品合計</th><td><%= sum.round.to_s(:delimited) %></td></tr>
        <tr><th>請求金額</th><td><%= @orders.total_payment.to_s(:delimited) %></td></tr>
      </table>
    </div>

  </div>

  <div class="row"><span>支払方法</span><%= @orders.payment_method %></div>

  <div class="row"><span>お届け先</span><%= @orders.postal_code %><%= @orders.address %><%= @orders.name %></div>

  <div class="row"><span>注文を確定する</span></div>

</div>