<div class="container">

  <div class="row"><h3 class="under px-4 mb-5">注文情報確認</h3></div>

  <div class="row">

    <div class="col">
      <table class="table table-bordered border-secondary ">
        <thead class="table-secondary">
          <tr><th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th></tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= attachment_image_tag cart_item.item, :image, format: "jpeg", fallback: "no_image.jpg", size: "80x60",class:"mr-3" %><%= cart_item.item.name %></td>
              <td class="align-middle"><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
              <td class="align-middle"><%= cart_item.amount %></td>
              <td class="align-middle"><%= (cart_item.amount*cart_item.item.price*1.1).round.to_s(:delimited) %></td>
              <% sum += cart_item.amount*cart_item.item.price*1.1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @cart_items %>
    </div>

    <div class="col-md-3 billing">
      <table class="table table-bordered border-primary">
       <!-- sessiomのデータを表示する場合、カラム名に""つける -->
          <tr><td class="font-weight-bold table-secondary">配送料</td><td><%= session[:order]["shipping_cost"].to_s(:delimited) %></td></tr>
          <tr><td class="font-weight-bold table-secondary">商品合計</td><td><%= sum.round.to_s(:delimited) %></td></tr>
          <tr><td class="font-weight-bold table-secondary">請求金額</td><td><%= session[:order]["total_payment"].to_s(:delimited) %></td></tr>
      </table>
    </div>

  </div>

  <div class="row">

      <table class="table table-borderless">
        <tr>
          <th  class="info" style="width: 20%">支払方法</th>
          <td class="text-left">
            <% if session[:order]["payment_method"] == 'bank_payment' %>
             <%= '銀行払い' %>
            <% else %>
             <%= 'クレジットカード' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th  class="info" style="width: 20%">お届け先</th>
          <td class="text-left">
            〒<%= session[:order]["postal_code"] %>
            <%= session[:order]["address"] %><br>
            <%= session[:order]["name"]  %>
          </td>
        </tr>
      </table>
  </div>

  <div class="row justify-content-center"><%= link_to "購入を確定する", orders_complete_path, class: 'btn btn-outline-dark btn-lg' %></div>

</div>