<div class="container">

  <div class="row"><h4>注文情報入力</h4></div>

  <div>
  <%= form_with model: @order, local: true do |f| %>
    <h4>支払方法</h4>

      <%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method_credit_card, 'クレジットカード' %>
      <%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method_credit_card, '銀行払い' %>

  </div>

  <div>
    <h4>お届け先</h4>

    <div>
      <%= f.radio_button :address, '0' %>
        <%= f.label :title, 'ご自身の住所', value: 0 %>
        <%= f.label :postal_code, Customer.find(1), :postal_code, value: 0 %>
      <%= f.radio_button :address, '1' %>
      <%= f.label :address, '登録先住所から選択', value: 1 %>
      <%= f.radio_button :address, '2' %>
      <%= f.label :address, '新しいお届け先', value: 2 %>
    </div>

    <h4><%= f.submit "確認画面へ進む", class: "btn btn-success" %></h4>

  <% end %>
  </div>

</div>