<div class="container">

  <div class="row"><h4>注文情報入力</h4></div>

  <div>
  <%= form_with model: @order, url: {action: 'confirm'}, local: true do |f| %>
    <h4>支払方法</h4>

      <%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method_credit_card, 'クレジットカード' %>
      <%= f.radio_button :payment_method, :credit_card %>
      <%= f.label :payment_method_credit_card, '銀行払い' %>

  </div>

  <div>
    <h4>お届け先</h4>

    <div>

      <div>
        <p>郵便番号（ハイフンなし）<%= f.text_field :postal_code %></p>
        <p>住所<%= f.text_field :address %></p>
        <p>宛名<%= f.text_field :name %></p>
      </div>

    </div>

    <h4><%= f.submit "確認画面へ進む", class: "btn btn-success" %></h4>

  <% end %>
  </div>

</div>