<div class="container">

  <div class="row"><h4>注文情報入力</h4></div>

  <div>
  <%= form_with model: @order, url: {action: 'confirm'}, local: true do |f| %>


      <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
      <%= f.label :payment_method_credit_card, 'クレジットカード' %>
      <%= f.radio_button :payment_method, :"銀行振込" %>
      <%= f.label :payment_method_credit_card, '銀行払い' %>


      <%= f.radio_button :address, '0' %>
      <%= f.label :title, 'ご自身の住所' %>
        <p><span>〒</span><%= f.label :postal_code, value: @customer.postal_code %></p>
        <p><%= f.label :address, value: @customer.address %></p>
        <p><%= f.label :name, value: @customer.full_name %></p>

      <%= f.radio_button :address, '1' %>
      <%= f.label :address, '登録先住所から選択', value: 1 %>
      <%= f.collection_select(:address,@addresses,:id, :address_all) %>

      <%= f.radio_button :address, '2' %>
      <%= f.label :address, '新しいお届け先' %>
        <p>郵便番号（ハイフンなし）<%= f.text_field :postal_code %></p>
        <p>住所<%= f.text_field :address %></p>
        <p>宛名<%= f.text_field :name %></p>


    <h4><%= f.submit "確認画面へ進む", class: "btn btn-success" %></h4>

  <% end %>
  </div>

</div>