<div class="container">
 <div class="row mt-5 ml-5">
  <h4 class="bg-light px-4">注文情報入力</h4>
 </div>
</div>
 <%= form_with model: @order, local: true do |f| %>
<div class="container ">
 <div class="form-group row mt-4">
   <h4 class="col-sm-3"><strong>支払方法</strong></h4>
 </div>
 <div class="form-group row ">
   <h5 class="col-sm-3 mx-5"><%= f.radio_button :payment_method, :credit_card %>
   <%= f.label :payment_method_credit_card, 'クレジットカード' %></br>
   <%= f.radio_button :payment_method, :credit_card %>
   <%= f.label :payment_method_credit_card, '銀行払い' %></h5>
 </div>

 <div class="form-group row ">
   <h4 class="col-sm-2 "><strong>お届け先</strong></h4>
 </div>
 <div class="form-group row ">
   <h5 class="col-sm-3 mx-5"><%= f.radio_button :address, '0' %>
   <%= f.label :title, 'ご自身の住所' %></h5>
   <div class="col-sm-9"></div>
   <h5 class=" offset-sm-1 col-sm-6">〒<%= f.label :postal_code, @customer.postal_code.to_s, value: 0 %>
   <%= f.label :address, @customer.address.to_s, value: 0 %></br>
   <%= f.label :name, @customer.full_name.to_s, value: 0 %></h5>
 </div>

 <div class="form-group row ">
   <h5 class="col-sm-3 mx-5"><%= f.radio_button :address, '1' %>
   <%= f.label :address, '登録先住所から選択', value: 1 %></h5>
   <div class="col-sm-9"></div>
   <div class="offset-sm-1 col-sm-8"><%= f.collection_select :address,@addresses,:id, :address_all ,{} ,{class:"form-control fw-bolder"}  %></div>
 </div>

 <div class="form-group row ">
   <h5 class="col-sm-3 mx-5"><%= f.radio_button :address, '2' %>
   <%= f.label :address, '新しいお届け先' %></h5>
   <div class="col-sm-9"></div>
 </div>

 <div class="form-group row mt-2">
  <div class="input-group">
   <div class="offset-sm-1 col-sm-3 input-gruop-append"><%= f.label :郵便番号（ハイフンなし） %></div>
   <div class="col-sm-3 input-gruop-append"><%= f.text_field :postal_code,placeholder:"0000000",class:"form-control border-dark" %></div>
  </div>
 </div>

 <div class="form-group row mt-2">
  <div class="input-group">
   <div class="offset-sm-1 col-sm-3 input-gruop-append"><%= f.label :住所 %></div>
   <div class="col-sm-6 input-gruop-append"><%= f.text_field :address,placeholder:"東京都渋谷区代々木神園待ち0-0",class:"form-control border-dark" %></div>
  </div>
 </div>

 <div class="form-group row mt-2">
  <div class="input-group">
   <div class="offset-sm-1 col-sm-3 input-gruop-append"><%= f.label :宛名 %></div>
   <div class="col-sm-3 input-gruop-append"><%= f.text_field :name,placeholder:"令和道子",class:"form-control border-dark" %></div>
  </div>
 </div>

<div class="row mt-2 mb-2">
  <div class="col-sm-5"></div>
  <div class="col-sm-3"><%= f.submit "確認画面へ進む",class:"btn btn-success font-weight-bold "%></div>
  <% end %>
  
</div>