<div class="container mt-5">

  <div class="row"><h5 class=" col-3 text-center bg-light ">注文履歴詳細</h5></div>

  <div class="row">
    <div class="col">
      <span>注文情報</span><br>
      <table class="table table-bordered border-primary">
          <tr><td class="font-weight-bold table-secondary">注文日</td><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
          <tr><td class="font-weight-bold table-secondary">配送先</td><td><span>〒</span><%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td></tr>
          <tr><td class="font-weight-bold table-secondary">支払方法</td><td><%= @order.payment_method_i18n %></td></tr>
          <tr><td class="font-weight-bold table-secondary">ステータス</td><td><%= @order.status_i18n %></td></tr>
      </table>
    </div>

    <div class="col">
      <span>請求情報</span><br>
      <table class="table table-bordered border-primary">
          <tr><td class="font-weight-bold table-secondary">商品合計</td><td><%= @order.total_payment - @order.shipping_cost %></td></tr>
          <tr><td class="font-weight-bold table-secondary">配送料</td><td><%= @order.shipping_cost %></td></tr>
          <tr><td class="font-weight-bold table-secondary">ご請求額</td><td><%= @order.total_payment %></td></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <span>注文内容</span><br>
    <table class="table table-bordered border-secondary ">
    <thead class="table-secondary">
      <tr><th>商品</th><th>単価（税込み）</th><th>個数</th><th>小計</th></tr>
    </thead>
    <tbody>
      <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
        <td><%= order_detail.amount %></td>
        <td><%= (order_detail.amount*order_detail.item.add_tax_price).round.to_s(:delimited) %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>

</div>