<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'genre', genres: @genres %>
    </div>

    <div class="col-9">
      <h2 class="mb-3"><span class="font-weight-bold">商品一覧</span> <small class="text-muted">(全<%= @item_all.count %>件)</small></h2>
      <div class="row justify-content-left">
      <% @items.each do |item| %>
      <div class="col-3 item-box">
        <%= link_to item_path(item.id) do %>
          <%= attachment_image_tag item, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %>
        <% end %>
        <p class="my-2"><%= link_to item.name, item_path(item.id),class:"text-dark" %></p>
        <p class="mb-5">￥<%= item.price.to_s(:delimited) %></p>
      </div>
      <% end %>
      </div>
    </div>
    <div class="offset-3 col-9">
    <%= paginate @items ,class:"mr-1 paginate" %>
    </div>
  </div>
</div>