<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class="col">
      <%= attachment_image_tag @item, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x150" %>
    </div>
    <div class="col">
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <%= @item.add_tax_price.to_s(:delimited) %> (税込)
      <%= form_with model: @cart_items do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, options_for_select((1..20).to_a), include_blank: "個数選択" %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</div>